# SF Salaries Exercise - Solutions

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
import warnings
warnings.filterwarnings('ignore')

In [5]:
sns.set_theme(context = 'paper' , style = 'ticks' , palette = 'summer' , 
             font_scale = 1.2)

**Read Salaries.csv as a dataframe called sal.**

In [7]:
df = pd.read_csv('Salaries.csv')
df.set_index('Id' , inplace = True)

**Check the head of the DataFrame.**

In [8]:
df.head(3)

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
Id,,,,,,,,,,,,
1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148654 entries, 1 to 148654
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   EmployeeName      148654 non-null  object
 1   JobTitle          148654 non-null  object
 2   BasePay           148045 non-null  float64
 3   OvertimePay       148650 non-null  float64
 4   OtherPay          148650 non-null  float64
 5   Benefits          112491 non-null  float64
 6   TotalPay          148654 non-null  float64
 7   TotalPayBenefits  148654 non-null  float64
 8   Year              148654 non-null  int64
 9   Notes             0 non-null       float64
 10  Agency            148654 non-null  object
 11  Status            0 non-null       float64
dtypes: float64(8), int64(1), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [12]:
df['BasePay'].mean()

66325.4488404877

**What is the highest amount of OvertimePay in the dataset ?**

In [13]:
df['OvertimePay'].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [14]:
df[ df['EmployeeName'].str.lower() == 'JOSEPH DRISCOLL'.lower()]['JobTitle']

Id
25       CAPTAIN, FIRE SUPPRESSION
36199    Captain, Fire Suppression
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [15]:
df[df['EmployeeName'].str.lower() == 'JOSEPH DRISCOLL'.lower()]['TotalPayBenefits']

Id
25       270324.91
36199    331834.79
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [16]:
df.loc[ df['TotalPayBenefits'].idxmax()]['EmployeeName']

'NATHANIEL FORD'

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [17]:
df.loc[ df['TotalPayBenefits'].idxmax()]

EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 1, dtype: object

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [18]:
df.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [19]:
df['JobTitle'].nunique()

2159

**What are the top 5 most common jobs?**

In [20]:
df.groupby('JobTitle').count()

,EmployeeName,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
JobTitle,,,,,,,,,,,
ACCOUNT CLERK,83,83,83,83,0,83,83,83,0,83,0
ACCOUNTANT,5,5,5,5,0,5,5,5,0,5,0
ACCOUNTANT INTERN,48,48,48,48,0,48,48,48,0,48,0
"ACPO,JuvP, Juv Prob (SFERS)",1,1,1,1,1,1,1,1,0,1,0
ACUPUNCTURIST,1,1,1,1,0,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
X-RAY LABORATORY AIDE,26,26,26,26,0,26,26,26,0,26,0
X-Ray Laboratory Aide,100,100,100,100,100,100,100,100,0,100,0
"YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS",1,1,1,1,0,1,1,1,0,1,0
Youth Comm Advisor,4,4,4,4,4,4,4,4,0,4,0
ZOO CURATOR,1,1,1,1,0,1,1,1,0,1,0

In [21]:
df['JobTitle'].value_counts()

Transit Operator                                  7036
Special Nurse                                     4389
Registered Nurse                                  3736
Public Svc Aide-Public Works                      2518
Police Officer 3                                  2421
                                                  ...
CHIEF HOUSING INSPECTOR                              1
TRAFFIC SIGNAL OPERATOR                              1
COURT COMPUTER FACILITIES COORDINATOR                1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I       1
VICTIM & WITNESS TECHNICIAN                          1
Name: JobTitle, Length: 2159, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [22]:
sum(df[ (df['Year'] == 2013) ]['JobTitle'].value_counts() == 1)

202

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [23]:
sum(df['JobTitle'].apply(lambda x : 1 if 'Chief'.lower() in x.lower() else 0))

627

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

In [24]:
df['JobTitleLen'] = df['JobTitle'].apply(lambda x : len(x))

In [25]:
df['TotalPayBenefits'].corr(df['JobTitleLen']) # No correlation.

-0.03687844593260675

In [26]:
df[['TotalPayBenefits','JobTitleLen']].corr()

                  TotalPayBenefits  JobTitleLen
TotalPayBenefits          1.000000    -0.036878
JobTitleLen              -0.036878     1.000000

# Great Job!